.chrome-speak-number-links {
    display:inline-block;
    text-align: center;
    
    margin: 0 auto;
    overflow: hidden;
    padding: 2px;
    opacity: 1.0;
    
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    background: gold;
    
    font-family: sans-serif;
    font-size: 18px;
    color: black;
}